{
    "username": "your_dummy_instagram_username",
    "password": "your_dummy_instagram_password",
    "totp_secret": "your_2fa_secret_key_if_applicable",
    "admin_username": "admin",
    "admin_password": "admin_password_2026",
    "secret_key": "some_random_secret_string_here"
}
